<div class="slider-wrap">
    <section class="home-slider owl-carousel">


      <div class="slider-item" style="background-image: url('assets/img/hero_1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 ">
              <h1 data-aos="fade-up">Los mejores postres</h1>
              <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Hechos con amor </p>
              <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Pide tu favorito ahora</a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="slider-item" style="background-image: url('assets/img/hero_2.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 ">
              <h1 data-aos="fade-up">Recetas selectas</h1>
              <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Caseras y organicas</p>
              <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">No esperes más</a></p>
            </div>
          </div>
        </div>
        
      </div>

    </section>
  <!-- END slider -->
  </div> 

  <section class="section bg-light py-5  bottom-slant-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="">
          <span class="wrap-icon"><span class="flaticon-dinner d-block mb-4"></span></span>
          <h3 class="mb-2 text-primary">Rico</h3>
          <p>Con un sabor unico y original</p>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="100">
          <span class="wrap-icon"><span class="flaticon-fish d-block mb-4"></span></span>
          <h3 class="mb-2 text-primary">Barato</h3>
          <p>Los mejores precios</p>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="200">
          <span class="wrap-icon"><span class="flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view d-block mb-4"></span></span>
          <h3 class="mb-2 text-primary">Café</h3>
          <p>Acompañalo con una taza de café organico</p>
        </div>
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
          <span class="wrap-icon"><span class="flaticon-meat d-block mb-4"></span></span>
          <h3 class="mb-2 text-primary">Saludable</h3>
          <p>¿Qué más puedes pedir?</p>
        </div>
      </div>
    </div>
  </section>
