

  <div class="container">
    <div class="row slider-text align-items-center justify-content-center">
      <div class="col-md-8 text-center col-sm-12 ">
        <h2 style="color: white;" data-aos="fade-up">Productos</h2>


      </div>
    </div>
  </div>

  <section class="section bg-light pt-0 bottom-slant-gray">

    <div class="clearfix mb-5 pb-5">
      <div class="container-fluid">
        <div class="row" data-aos="fade">
          <div class="col-md-12 text-center heading-wrap">
            <h2>Nuestras recetas</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="sched d-block d-lg-flex">
            <div class="bg-image order-2" style="background-image: url('assets/img/hero_1.jpg');" data-aos="fade"></div>
            <div class="text order-1">
              <h3>Pay de queso</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
              <p class="text-primary h3">$120.00</p>
            </div>
          </div>

          <div class="sched d-block d-lg-flex">
            <div class="bg-image" style="background-image: url('assets/img/hero_2.jpg');" data-aos="fade"></div>
            <div class="text">
              <h3>Flan Napolitano</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
              <p class="text-primary h3">$120.00</p>
            </div>

          </div>

          

       

        </div>

        <div class="col-md-6">
          <div class="sched d-block d-lg-flex">
            <div class="bg-image order-2" style="background-image: url('assets/img/productos_banner.jpg');"
              data-aos="fade"></div>
            <div class="text order-1">
              <h3>Brownies de chocolate</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
              <p class="text-primary h3">$180.00</p>

            </div>

          </div>

          <div class="sched d-block d-lg-flex">
            <div class="bg-image" style="background-image: url('assets/img/gelatina_colores.jpg');" data-aos="fade">
            </div>
            <div class="text">
              <h3>Gelatina de colores</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
              <p class="text-primary h3">$100.00</p>

            </div>

          </div>

        </div>
      </div>


    </div>
  </section>